body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
}
#game {
    background-color: black;
    color: white;
    width: 500px;
    height: 500px;
    margin: 50px 90px;
    padding: 25px;
}

#icon img {
    width: 150px;
    height: 150px;
    background-color: white;
}